/datarc-colorlib/
gasequipment.sql
*.log
composer.phar
*.bin
*.settings
.project
*db.php
*.komodoproject
/nbproject/private/
/.komodotools/
*.xml
*.properties
nbproject/
/.idea/
public/assets/
public/index.php
protected/config/db.php
*/_log
/tests/tests/_log/
*.*~
*.yml
!.teatro.yml
!*.dist.yml
/.vagrant/
Vagrantfile
